/*
 * Empty Stylesheet file.
 */

.table-view .column-header{
    -fx-background-color: #ba1841;
   
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}
.btnCofirm {
	-fx-background-color :  #2B79D3;
	-fx-border-radius : 50px;
	-fx-background-radius : 50px;
}
.image {
	-fx-background-color :  linear-gradient(to right, #D586F9, #BA6BF8, #A056F7);
	-fx-background-radius : 5;
}


