/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.check-box .box {

-fx-background-color:  white;
-fx-border-color:#d91f48;
-fx-border-radius:5px; 

}


.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {
-fx-border-color:white;
-fx-background-color: #d91f48;
-fx-background-radius:5px;
}
.btnSignIn{
    -fx-background-color: linear-gradient(to left,#f72f59,  #f78199);
}
